/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
img {
  border: dotted 10px #653239;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color:#B4D2BA;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */

h1 { 
  color:#DCE2AA;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  text-align: center;
  
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #4B543B;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DCE2AA;
}
h3{
  color: #DCE2AA;
}
ul {
  list-style: none; 
  padding: 0;
}
ul li a {
  color: #DCE2AA;
}
ul li::before {
  content: "\f005"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: gold; 
  margin-right: 8px; 
}