.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border: dotted 10px lavender;
    background-color: lightblue;
    color: darkseagreen;
    font-size: 0.8em;
  }